@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin:0;padding:0;
    user-select: none;
    overflow: overlay;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0%;
    left: 0%;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
    box-sizing: border-box;
    font-weight: bold;
}
  
header.sticky {
    padding: 10px 100px;
    background: white;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
  
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
header ul li {
    position: relative;
    list-style: none;
}
  
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
  
header ul li a:hover,
header.sticky ul li a:hover {
    color: red;
}

header.sticky .logo,
header.sticky ul li a {
    color: black;
}

a {
    color: #fd4385;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:hover {
    color: #eb1d65;
}

#about {
    padding-top: 61px;
}

#projects {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80);
    background-size: cover;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHw%3D&w=1000&q=80);
    background-size: cover;
}

.banner h1, .banner h2 {
    text-align: center;
}

.banner h1 {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 60px;
    color: #fff;
}

.banner h2 {
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);

    color: #073b4c;
}

.title-section {
    position: absolute;
    left: 50%;
    margin-top: -35px;
    transform: translateX(-50%);
}

.title-section h1 {
    font-size: 45px;
    margin-top: -45px;
    margin-left: 20px;
}

.logo-title-info {
    height: 40px;
    width: 40px;
    background-image: url('../img/information.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -40px;
    margin-top: 50px;
}

.logo-title-projects {
    height: 40px;
    width: 40px;
    background-image: url('../img/projects.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -40px;
    margin-top: 50px;
}

.content-section-info {
    margin-top: 130px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

.content-section-projects {
    margin-top: 130px;
    padding-top: 230px;
    padding-left: 150px;
    padding-right: 175px;
}

.photo-section img {
    border: 5px solid #eeeded;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.txt {
    margin-left: 350px;
    margin-top: -280px;
}

.title-projects {
    margin-top: 45px;
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.content-wrapper {
    height: 74%;
    width: 250px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
}

.title-content-wrapper {
    color: #1a1a1a;
}

.language {
    color: #55595c;
    font-size: .7em;
    padding-bottom: 5px;
}

.description-content-wrapper {
    font-size: .9em;
}

.one-content-grid {
    grid-column: 1; grid-row: 1;
    height: 300px;
}

.two-content-grid {
    grid-column: 2; grid-row: 1;
    height: 300px;
}

.three-content-grid {
    grid-column: 3; grid-row: 1;
    height: 300px;
}

.five-content-grid {
    grid-column: 2; grid-row: 2;
    height: 40px;
}

.links {
    margin-left: -34px;
    font-size: .9em;
    font-weight: 500;
}

.links-one, .links-two{
    margin-top: 85%;
}

.links ul {
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.links ul li {
    margin-right: 10px;
}

.links a {
    color: #1a1a1a;
}

.content-img {
    height: 200px;
    width: 230px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-image: url('../img/Project\ Zeta.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.discord-clipboard {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.discord-clipboard:hover {
    font-weight: 600;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -25px;
    left: 93px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}

[data-title]:hover::before:active {
    content: 'Copié !';
    position: absolute;
    bottom: -25px;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 2px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-family: sans-serif;
    white-space: nowrap;
}
  
[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 147px;
    display: inline-block;
    color: #fff;
    border: 8px solid transparent;	
    border-bottom: 8px solid #000;
}

.wait-animation {
    display: inline-block;
    margin-left: 65px;
}

.sphere-grey {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: grey;
    opacity: 50%;
    border-radius: 50%;
}

.sphere1 {
    animation: sphere1 1s;
    animation-iteration-count: infinite;
}

.sphere2 {
    animation: sphere2 1s;
    animation-iteration-count: infinite;
}

@keyframes sphere1 {
    from {
        transform: translateY(0px);
    }
    
    50% {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes sphere2 {
    from {
        transform: translateY(10px);
    }
    
    50% {
        transform: translateY(0px);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes copyTransi {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 900px) {
    .content-section-info {
        margin-top: 230px;
        margin-left: 70px;
        margin-right: 70px;
    }    
}